.App {
	text-align: center;
}

.searchBar {
	margin-left: 30%;
}

.logButton {
	margin-left: 30%;
}

.randomMeals {
	display: flex;
	flex-direction: row;
	margin: 30px auto;
	justify-content: center;
}

.recipieCard {
	margin: 10px;
}
