.searchBar {
	margin-left: 30%;
}

.logButton {
	margin-left: 30%;
}

.randomMeals {
	display: flex;
	flex-direction: row;
	margin: 30px auto;
	justify-content: center;
}

img {
	margin: 10px auto;
}

.recipieCard {
	margin: 10px;
}

.ingredients {
	margin: 10px left;
	width: 20%;
}
